name: Publish to server

on:
  push:
    branches: [ "main" ]

env:
  VK_API_KEY: ${{ secrets.VK_API_KEY }}
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
  OPENAI_API_URL: ${{ secrets.OPENAI_API_URL }}

jobs:

  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      
      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO_NAME }}
          tags: latest
          labels: latest
          
      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  
  
server_update:
  needs: push_to_registry
  name: Update server by ssh
  runs-on: ubuntu-latest
  steps:
    - name: Connect and run script
      uses: appleboy/ssh-action@master
      env:
        VK_API_KEY: ${{ secrets.VK_API_KEY }}
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        OPENAI_API_URL: ${{ secrets.OPENAI_API_URL }}
      with:
        host: ${{ secrets.SERVER_IP }}
        port: ${{ secrets.SERVER_PORT }}
        username: ${{ secrets.SERVER_USER_LOGIN }}
        password: ${{ secrets.SERVER_USER_PASSWORD }}
        envs: VK_API_KEY,OPENAI_API_KEY,OPENAI_API_URL
        script_stop: true
        script: |
          export VK_API_KEY=$VK_API_KEY
          export OPENAI_API_KEY=$OPENAI_API_KEY
          export OPENAI_API_URL=$OPENAI_API_URL
          cd ~/app
          bash deploy.sh

